NET "sysclk"            LOC = P55;
NET "ebus_reset_n"      LOC = P7;
NET "ebus_phi"          LOC = P1;
NET "ebus_a[0]"         LOC = P143;
NET "ebus_a[1]"         LOC = P142;
NET "ebus_a[2]"         LOC = P141;
NET "ebus_a[3]"         LOC = P140;
NET "ebus_a[4]"         LOC = P139;
NET "ebus_a[5]"         LOC = P138;
NET "ebus_a[6]"         LOC = P137;
NET "ebus_a[7]"         LOC = P134;
NET "ebus_a[8]"         LOC = P133;
NET "ebus_a[9]"         LOC = P132;
NET "ebus_a[10]"        LOC = P131;
NET "ebus_a[11]"        LOC = P127;
NET "ebus_a[12]"        LOC = P126;
NET "ebus_a[13]"        LOC = P124;
NET "ebus_a[14]"        LOC = P123;
NET "ebus_a[15]"        LOC = P121;
NET "ebus_d[0]"         LOC = P120;
NET "ebus_d[1]"         LOC = P119;
NET "ebus_d[2]"         LOC = P118;
NET "ebus_d[3]"         LOC = P117;
NET "ebus_d[4]"         LOC = P116;
NET "ebus_d[5]"         LOC = P115;
NET "ebus_d[6]"         LOC = P114;
NET "ebus_d[7]"         LOC = P112;
NET "ebus_rd_n"         LOC = P10;
NET "ebus_wr_n"         LOC = P9;
NET "ebus_mreq_n"       LOC = P12;
NET "ebus_iorq_n"       LOC = P11;
NET "ebus_int_n"        LOC = P8;
NET "ebus_busreq_n"     LOC = P6;
NET "ebus_busack_n"     LOC = P5;
NET "ebus_ba[0]"        LOC = P104;
NET "ebus_ba[1]"        LOC = P102;
NET "ebus_ba[2]"        LOC = P101;
NET "ebus_ba[3]"        LOC = P100;
NET "ebus_ba[4]"        LOC = P99;
NET "ebus_ram_ce_n"     LOC = P111;
NET "ebus_cart_ce_n"    LOC = P2;
NET "ebus_ram_we_n"     LOC = P105;
NET "audio_l"           LOC = P35;
NET "audio_r"           LOC = P34;
NET "cassette_out"      LOC = P38;
NET "cassette_in"       LOC = P40;
NET "printer_out"       LOC = P43;
NET "printer_in"        LOC = P41;
NET "exp[0]"            LOC = P66;
NET "exp[1]"            LOC = P64;
NET "exp[2]"            LOC = P62;
NET "exp[3]"            LOC = P61;
NET "exp[4]"            LOC = P59;
NET "exp[5]"            LOC = P58;
NET "exp[6]"            LOC = P57;
NET "exp[7]"            LOC = P56;
NET "exp[8]"            LOC = P51;
NET "has_z80"           LOC = P50;
NET "vga_r[0]"          LOC = P29;
NET "vga_r[1]"          LOC = P30;
NET "vga_r[2]"          LOC = P32;
NET "vga_r[3]"          LOC = P33;
NET "vga_g[0]"          LOC = P23;
NET "vga_g[1]"          LOC = P24;
NET "vga_g[2]"          LOC = P26;
NET "vga_g[3]"          LOC = P27;
NET "vga_b[0]"          LOC = P16;
NET "vga_b[1]"          LOC = P17;
NET "vga_b[2]"          LOC = P21;
NET "vga_b[3]"          LOC = P22;
NET "vga_hsync"         LOC = P14;
NET "vga_vsync"         LOC = P15;
NET "esp_tx"            LOC = P47;
NET "esp_rx"            LOC = P45;
NET "esp_rts"           LOC = P46;
NET "esp_cts"           LOC = P44;
NET "esp_ssel_n"        LOC = P39;
NET "esp_sclk"          LOC = P70;
NET "esp_mosi"          LOC = P65;
NET "esp_miso"          LOC = P74;
NET "esp_notify"        LOC = P48;
NET "hc1[0]"            LOC = P75;
NET "hc1[1]"            LOC = P79;
NET "hc1[2]"            LOC = P81;
NET "hc1[3]"            LOC = P83;
NET "hc1[4]"            LOC = P84;
NET "hc1[5]"            LOC = P82;
NET "hc1[6]"            LOC = P80;
NET "hc1[7]"            LOC = P78;
NET "hc1[8]"            LOC = P67;
NET "hc2[0]"            LOC = P87;
NET "hc2[1]"            LOC = P92;
NET "hc2[2]"            LOC = P94;
NET "hc2[3]"            LOC = P97;
NET "hc2[4]"            LOC = P98;
NET "hc2[5]"            LOC = P95;
NET "hc2[6]"            LOC = P93;
NET "hc2[7]"            LOC = P88;
NET "hc2[8]"            LOC = P85;

NET "printer_in" PULLUP;

NET "ebus_reset_n"  PULLUP;
NET "ebus_a[0]"     PULLUP;
NET "ebus_a[1]"     PULLUP;
NET "ebus_a[2]"     PULLUP;
NET "ebus_a[3]"     PULLUP;
NET "ebus_a[4]"     PULLUP;
NET "ebus_a[5]"     PULLUP;
NET "ebus_a[6]"     PULLUP;
NET "ebus_a[7]"     PULLUP;
NET "ebus_a[8]"     PULLUP;
NET "ebus_a[9]"     PULLUP;
NET "ebus_a[10]"    PULLUP;
NET "ebus_a[11]"    PULLUP;
NET "ebus_a[12]"    PULLUP;
NET "ebus_a[13]"    PULLUP;
NET "ebus_a[14]"    PULLUP;
NET "ebus_a[15]"    PULLUP;
NET "ebus_d[0]"     PULLUP;
NET "ebus_d[1]"     PULLUP;
NET "ebus_d[2]"     PULLUP;
NET "ebus_d[3]"     PULLUP;
NET "ebus_d[4]"     PULLUP;
NET "ebus_d[5]"     PULLUP;
NET "ebus_d[6]"     PULLUP;
NET "ebus_d[7]"     PULLUP;
NET "ebus_rd_n"     PULLUP;
NET "ebus_wr_n"     PULLUP;
NET "ebus_mreq_n"   PULLUP;
NET "ebus_iorq_n"   PULLUP;
NET "ebus_int_n"    PULLUP;
NET "ebus_busreq_n" PULLUP;
NET "ebus_busack_n" PULLUP;

NET "hc1[0]" PULLUP;
NET "hc1[1]" PULLUP;
NET "hc1[2]" PULLUP;
NET "hc1[3]" PULLUP;
NET "hc1[4]" PULLUP;
NET "hc1[5]" PULLUP;
NET "hc1[6]" PULLUP;
NET "hc1[7]" PULLUP;

NET "hc2[0]" PULLUP;
NET "hc2[1]" PULLUP;
NET "hc2[2]" PULLUP;
NET "hc2[3]" PULLUP;
NET "hc2[4]" PULLUP;
NET "hc2[5]" PULLUP;
NET "hc2[6]" PULLUP;
NET "hc2[7]" PULLUP;

NET "has_z80" PULLUP;

NET "sysclk"            IOSTANDARD = LVTTL;
NET "ebus_reset_n"      IOSTANDARD = LVTTL;
NET "ebus_phi"          IOSTANDARD = LVTTL;
NET "ebus_a[0]"         IOSTANDARD = LVTTL;
NET "ebus_a[1]"         IOSTANDARD = LVTTL;
NET "ebus_a[2]"         IOSTANDARD = LVTTL;
NET "ebus_a[3]"         IOSTANDARD = LVTTL;
NET "ebus_a[4]"         IOSTANDARD = LVTTL;
NET "ebus_a[5]"         IOSTANDARD = LVTTL;
NET "ebus_a[6]"         IOSTANDARD = LVTTL;
NET "ebus_a[7]"         IOSTANDARD = LVTTL;
NET "ebus_a[8]"         IOSTANDARD = LVTTL;
NET "ebus_a[9]"         IOSTANDARD = LVTTL;
NET "ebus_a[10]"        IOSTANDARD = LVTTL;
NET "ebus_a[11]"        IOSTANDARD = LVTTL;
NET "ebus_a[12]"        IOSTANDARD = LVTTL;
NET "ebus_a[13]"        IOSTANDARD = LVTTL;
NET "ebus_a[14]"        IOSTANDARD = LVTTL;
NET "ebus_a[15]"        IOSTANDARD = LVTTL;
NET "ebus_d[0]"         IOSTANDARD = LVTTL;
NET "ebus_d[1]"         IOSTANDARD = LVTTL;
NET "ebus_d[2]"         IOSTANDARD = LVTTL;
NET "ebus_d[3]"         IOSTANDARD = LVTTL;
NET "ebus_d[4]"         IOSTANDARD = LVTTL;
NET "ebus_d[5]"         IOSTANDARD = LVTTL;
NET "ebus_d[6]"         IOSTANDARD = LVTTL;
NET "ebus_d[7]"         IOSTANDARD = LVTTL;
NET "ebus_rd_n"         IOSTANDARD = LVTTL;
NET "ebus_wr_n"         IOSTANDARD = LVTTL;
NET "ebus_mreq_n"       IOSTANDARD = LVTTL;
NET "ebus_iorq_n"       IOSTANDARD = LVTTL;
NET "ebus_int_n"        IOSTANDARD = LVTTL;
NET "ebus_busreq_n"     IOSTANDARD = LVTTL;
NET "ebus_busack_n"     IOSTANDARD = LVTTL;
NET "ebus_ba[0]"        IOSTANDARD = LVTTL;
NET "ebus_ba[1]"        IOSTANDARD = LVTTL;
NET "ebus_ba[2]"        IOSTANDARD = LVTTL;
NET "ebus_ba[3]"        IOSTANDARD = LVTTL;
NET "ebus_ba[4]"        IOSTANDARD = LVTTL;
NET "ebus_ram_ce_n"     IOSTANDARD = LVTTL;
NET "ebus_cart_ce_n"    IOSTANDARD = LVTTL;
NET "ebus_ram_we_n"     IOSTANDARD = LVTTL;
NET "audio_l"           IOSTANDARD = LVTTL;
NET "audio_r"           IOSTANDARD = LVTTL;
NET "cassette_out"      IOSTANDARD = LVTTL;
NET "cassette_in"       IOSTANDARD = LVTTL;
NET "printer_out"       IOSTANDARD = LVTTL;
NET "printer_in"        IOSTANDARD = LVTTL;
NET "exp[0]"            IOSTANDARD = LVTTL;
NET "exp[1]"            IOSTANDARD = LVTTL;
NET "exp[2]"            IOSTANDARD = LVTTL;
NET "exp[3]"            IOSTANDARD = LVTTL;
NET "exp[4]"            IOSTANDARD = LVTTL;
NET "exp[5]"            IOSTANDARD = LVTTL;
NET "exp[6]"            IOSTANDARD = LVTTL;
NET "exp[7]"            IOSTANDARD = LVTTL;
NET "exp[8]"            IOSTANDARD = LVTTL;
NET "has_z80"           IOSTANDARD = LVTTL;
NET "vga_r[0]"          IOSTANDARD = LVTTL;
NET "vga_r[1]"          IOSTANDARD = LVTTL;
NET "vga_r[2]"          IOSTANDARD = LVTTL;
NET "vga_r[3]"          IOSTANDARD = LVTTL;
NET "vga_g[0]"          IOSTANDARD = LVTTL;
NET "vga_g[1]"          IOSTANDARD = LVTTL;
NET "vga_g[2]"          IOSTANDARD = LVTTL;
NET "vga_g[3]"          IOSTANDARD = LVTTL;
NET "vga_b[0]"          IOSTANDARD = LVTTL;
NET "vga_b[1]"          IOSTANDARD = LVTTL;
NET "vga_b[2]"          IOSTANDARD = LVTTL;
NET "vga_b[3]"          IOSTANDARD = LVTTL;
NET "vga_hsync"         IOSTANDARD = LVTTL;
NET "vga_vsync"         IOSTANDARD = LVTTL;
NET "esp_tx"            IOSTANDARD = LVTTL;
NET "esp_rx"            IOSTANDARD = LVTTL;
NET "esp_rts"           IOSTANDARD = LVTTL;
NET "esp_cts"           IOSTANDARD = LVTTL;
NET "esp_ssel_n"        IOSTANDARD = LVTTL;
NET "esp_sclk"          IOSTANDARD = LVTTL;
NET "esp_mosi"          IOSTANDARD = LVTTL;
NET "esp_miso"          IOSTANDARD = LVTTL;
NET "esp_notify"        IOSTANDARD = LVTTL;
NET "hc1[0]"            IOSTANDARD = LVTTL;
NET "hc1[1]"            IOSTANDARD = LVTTL;
NET "hc1[2]"            IOSTANDARD = LVTTL;
NET "hc1[3]"            IOSTANDARD = LVTTL;
NET "hc1[4]"            IOSTANDARD = LVTTL;
NET "hc1[5]"            IOSTANDARD = LVTTL;
NET "hc1[6]"            IOSTANDARD = LVTTL;
NET "hc1[7]"            IOSTANDARD = LVTTL;
NET "hc1[8]"            IOSTANDARD = LVTTL;
NET "hc2[0]"            IOSTANDARD = LVTTL;
NET "hc2[1]"            IOSTANDARD = LVTTL;
NET "hc2[2]"            IOSTANDARD = LVTTL;
NET "hc2[3]"            IOSTANDARD = LVTTL;
NET "hc2[4]"            IOSTANDARD = LVTTL;
NET "hc2[5]"            IOSTANDARD = LVTTL;
NET "hc2[6]"            IOSTANDARD = LVTTL;
NET "hc2[7]"            IOSTANDARD = LVTTL;
NET "hc2[8]"            IOSTANDARD = LVTTL;

NET "clk"       TNM_NET = clk28;
NET "video_clk" TNM_NET = vclk;

TIMESPEC TS_clk    = PERIOD "clk28" 28.63636 MHz HIGH 50%;
TIMESPEC TS_vclk   = PERIOD "vclk"  25.175   MHz HIGH 50%;

TIMESPEC ts4 = FROM "clk28"  TO "vclk"   TIG;
TIMESPEC ts6 = FROM "vclk"   TO "clk28"  TIG;
