NET "sysclk"        LOC = P55;
NET "usbclk"        LOC = P53;
NET "reset_n"       LOC = P86;
NET "phi"           LOC = P69;
NET "bus_a[0]"      LOC = P131;
NET "bus_a[1]"      LOC = P130;
NET "bus_a[2]"      LOC = P129;
NET "bus_a[3]"      LOC = P128;
NET "bus_a[4]"      LOC = P127;
NET "bus_a[5]"      LOC = P125;
NET "bus_a[6]"      LOC = P124;
NET "bus_a[7]"      LOC = P123;
NET "bus_a[8]"      LOC = P122;
NET "bus_a[9]"      LOC = P119;
NET "bus_a[10]"     LOC = P118;
NET "bus_a[11]"     LOC = P116;
NET "bus_a[12]"     LOC = P113;
NET "bus_a[13]"     LOC = P112;
NET "bus_a[14]"     LOC = P108;
NET "bus_a[15]"     LOC = P107;
NET "bus_d[0]"      LOC = P105;
NET "bus_d[1]"      LOC = P104;
NET "bus_d[2]"      LOC = P103;
NET "bus_d[3]"      LOC = P102;
NET "bus_d[4]"      LOC = P100;
NET "bus_d[5]"      LOC = P99;
NET "bus_d[6]"      LOC = P98;
NET "bus_d[7]"      LOC = P97;
NET "bus_rd_n"      LOC = P92;
NET "bus_wr_n"      LOC = P90;
NET "bus_mreq_n"    LOC = P95;
NET "bus_iorq_n"    LOC = P93;
NET "bus_int_n"     LOC = P87;
NET "bus_m1_n"      LOC = P96;
NET "bus_wait_n"    LOC = P89;
NET "bus_busreq_n"  LOC = P85;
NET "bus_busack_n"  LOC = P84;
NET "bus_ba[0]"     LOC = P141;
NET "bus_ba[1]"     LOC = P140;
NET "bus_ba[2]"     LOC = P137;
NET "bus_ba[3]"     LOC = P135;
NET "bus_ba[4]"     LOC = P132;
NET "bus_de[0]"     LOC = P82;
NET "bus_de[1]"     LOC = P80;
NET "bus_de[2]"     LOC = P79;
NET "bus_de[3]"     LOC = P78;
NET "bus_de[4]"     LOC = P77;
NET "bus_de[5]"     LOC = P76;
NET "bus_de[6]"     LOC = P74;
NET "bus_de[7]"     LOC = P73;
NET "bus_de_oe_n"   LOC = P83;
NET "ram_ce_n"      LOC = P68;
NET "rom_ce_n"      LOC = P63;
NET "cart_ce_n"     LOC = P70;
NET "audio_l"       LOC = P20;
NET "audio_r"       LOC = P18;
NET "cassette_out"  LOC = P21;
NET "cassette_in"   LOC = P23;
NET "printer_out"   LOC = P25;
NET "printer_in"    LOC = P24;
NET "usb_dp1"       LOC = P36;
NET "usb_dm1"       LOC = P35;
NET "usb_dp2"       LOC = P33;
NET "usb_dm2"       LOC = P32;
NET "exp[0]"        LOC = P52;
NET "exp[1]"        LOC = P51;
NET "exp[2]"        LOC = P50;
NET "exp[3]"        LOC = P47;
NET "exp[4]"        LOC = P46;
NET "exp[5]"        LOC = P44;
NET "exp[6]"        LOC = P41;
NET "hctrl_clk"     LOC = P60;
NET "hctrl_load_n"  LOC = P59;
NET "hctrl_data"    LOC = P56;
NET "vga_r[0]"      LOC = P13;
NET "vga_r[1]"      LOC = P14;
NET "vga_r[2]"      LOC = P15;
NET "vga_r[3]"      LOC = P17;
NET "vga_g[0]"      LOC = P8;
NET "vga_g[1]"      LOC = P10;
NET "vga_g[2]"      LOC = P11;
NET "vga_g[3]"      LOC = P12;
NET "vga_b[0]"      LOC = P4;
NET "vga_b[1]"      LOC = P5;
NET "vga_b[2]"      LOC = P6;
NET "vga_b[3]"      LOC = P7;
NET "vga_hsync"     LOC = P1;
NET "vga_vsync"     LOC = P2;
NET "esp_tx"        LOC = P30;
NET "esp_rx"        LOC = P27;
NET "esp_rts"       LOC = P28;
NET "esp_cts"       LOC = P26;
NET "esp_cs_n"      LOC = P58;
NET "esp_sclk"      LOC = P40;
NET "esp_mosi"      LOC = P65;
NET "esp_miso"      LOC = P57;
NET "esp_notify"    LOC = P31;

NET "sysclk"        IOSTANDARD = LVTTL;
NET "usbclk"        IOSTANDARD = LVTTL;
NET "reset_n"       IOSTANDARD = LVTTL;
NET "phi"           IOSTANDARD = LVTTL;
NET "bus_a[0]"      IOSTANDARD = LVTTL;
NET "bus_a[1]"      IOSTANDARD = LVTTL;
NET "bus_a[2]"      IOSTANDARD = LVTTL;
NET "bus_a[3]"      IOSTANDARD = LVTTL;
NET "bus_a[4]"      IOSTANDARD = LVTTL;
NET "bus_a[5]"      IOSTANDARD = LVTTL;
NET "bus_a[6]"      IOSTANDARD = LVTTL;
NET "bus_a[7]"      IOSTANDARD = LVTTL;
NET "bus_a[8]"      IOSTANDARD = LVTTL;
NET "bus_a[9]"      IOSTANDARD = LVTTL;
NET "bus_a[10]"     IOSTANDARD = LVTTL;
NET "bus_a[11]"     IOSTANDARD = LVTTL;
NET "bus_a[12]"     IOSTANDARD = LVTTL;
NET "bus_a[13]"     IOSTANDARD = LVTTL;
NET "bus_a[14]"     IOSTANDARD = LVTTL;
NET "bus_a[15]"     IOSTANDARD = LVTTL;
NET "bus_d[0]"      IOSTANDARD = LVTTL;
NET "bus_d[1]"      IOSTANDARD = LVTTL;
NET "bus_d[2]"      IOSTANDARD = LVTTL;
NET "bus_d[3]"      IOSTANDARD = LVTTL;
NET "bus_d[4]"      IOSTANDARD = LVTTL;
NET "bus_d[5]"      IOSTANDARD = LVTTL;
NET "bus_d[6]"      IOSTANDARD = LVTTL;
NET "bus_d[7]"      IOSTANDARD = LVTTL;
NET "bus_rd_n"      IOSTANDARD = LVTTL;
NET "bus_wr_n"      IOSTANDARD = LVTTL;
NET "bus_mreq_n"    IOSTANDARD = LVTTL;
NET "bus_iorq_n"    IOSTANDARD = LVTTL;
NET "bus_int_n"     IOSTANDARD = LVTTL;
NET "bus_m1_n"      IOSTANDARD = LVTTL;
NET "bus_wait_n"    IOSTANDARD = LVTTL;
NET "bus_busreq_n"  IOSTANDARD = LVTTL;
NET "bus_busack_n"  IOSTANDARD = LVTTL;
NET "bus_ba[0]"     IOSTANDARD = LVTTL;
NET "bus_ba[1]"     IOSTANDARD = LVTTL;
NET "bus_ba[2]"     IOSTANDARD = LVTTL;
NET "bus_ba[3]"     IOSTANDARD = LVTTL;
NET "bus_ba[4]"     IOSTANDARD = LVTTL;
NET "bus_de[0]"     IOSTANDARD = LVTTL;
NET "bus_de[1]"     IOSTANDARD = LVTTL;
NET "bus_de[2]"     IOSTANDARD = LVTTL;
NET "bus_de[3]"     IOSTANDARD = LVTTL;
NET "bus_de[4]"     IOSTANDARD = LVTTL;
NET "bus_de[5]"     IOSTANDARD = LVTTL;
NET "bus_de[6]"     IOSTANDARD = LVTTL;
NET "bus_de[7]"     IOSTANDARD = LVTTL;
NET "bus_de_oe_n"   IOSTANDARD = LVTTL;
NET "ram_ce_n"      IOSTANDARD = LVTTL;
NET "rom_ce_n"      IOSTANDARD = LVTTL;
NET "cart_ce_n"     IOSTANDARD = LVTTL;
NET "audio_l"       IOSTANDARD = LVTTL;
NET "audio_r"       IOSTANDARD = LVTTL;
NET "cassette_out"  IOSTANDARD = LVTTL;
NET "cassette_in"   IOSTANDARD = LVTTL;
NET "printer_out"   IOSTANDARD = LVTTL;
NET "printer_in"    IOSTANDARD = LVTTL;
NET "usb_dp1"       IOSTANDARD = LVTTL;
NET "usb_dm1"       IOSTANDARD = LVTTL;
NET "usb_dp2"       IOSTANDARD = LVTTL;
NET "usb_dm2"       IOSTANDARD = LVTTL;
NET "exp[0]"        IOSTANDARD = LVTTL;
NET "exp[1]"        IOSTANDARD = LVTTL;
NET "exp[2]"        IOSTANDARD = LVTTL;
NET "exp[3]"        IOSTANDARD = LVTTL;
NET "exp[4]"        IOSTANDARD = LVTTL;
NET "exp[5]"        IOSTANDARD = LVTTL;
NET "exp[6]"        IOSTANDARD = LVTTL;
NET "hctrl_clk"     IOSTANDARD = LVTTL;
NET "hctrl_load_n"  IOSTANDARD = LVTTL;
NET "hctrl_data"    IOSTANDARD = LVTTL;
NET "vga_r[0]"      IOSTANDARD = LVTTL;
NET "vga_r[1]"      IOSTANDARD = LVTTL;
NET "vga_r[2]"      IOSTANDARD = LVTTL;
NET "vga_r[3]"      IOSTANDARD = LVTTL;
NET "vga_g[0]"      IOSTANDARD = LVTTL;
NET "vga_g[1]"      IOSTANDARD = LVTTL;
NET "vga_g[2]"      IOSTANDARD = LVTTL;
NET "vga_g[3]"      IOSTANDARD = LVTTL;
NET "vga_b[0]"      IOSTANDARD = LVTTL;
NET "vga_b[1]"      IOSTANDARD = LVTTL;
NET "vga_b[2]"      IOSTANDARD = LVTTL;
NET "vga_b[3]"      IOSTANDARD = LVTTL;
NET "vga_hsync"     IOSTANDARD = LVTTL;
NET "vga_vsync"     IOSTANDARD = LVTTL;
NET "esp_tx"        IOSTANDARD = LVTTL;
NET "esp_rx"        IOSTANDARD = LVTTL;
NET "esp_rts"       IOSTANDARD = LVTTL;
NET "esp_cts"       IOSTANDARD = LVTTL;
NET "esp_cs_n"      IOSTANDARD = LVTTL;
NET "esp_sclk"      IOSTANDARD = LVTTL;
NET "esp_mosi"      IOSTANDARD = LVTTL;
NET "esp_miso"      IOSTANDARD = LVTTL;
NET "esp_notify"    IOSTANDARD = LVTTL;

NET "sysclk" TNM_NET = sysclk;
TIMESPEC TS_sysclk = PERIOD "sysclk" 14.31818 MHz HIGH 50%;

NET "usbclk" TNM_NET = usbclk;
TIMESPEC TS_usbclk = PERIOD "usbclk" 48 MHz HIGH 50%;
