# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM

UseTab: Never
TabWidth: 4
IndentWidth: 4
ColumnLimit: 0

SortIncludes: false

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true

IndentCaseLabels: true
ReflowComments: true

BinPackParameters: true

# AlignOperands: true
# AlwaysBreakAfterReturnType: None
# AlwaysBreakBeforeMultilineStrings: true
# BreakBeforeBraces: Attach
# DerivePointerAlignment: false
# NamespaceIndentation: All

# Language: C

Language: Cpp
Standard: c++17
AccessModifierOffset: -4
