[submodule "System/rom_src/plusbasic"]
	path = System/rom_src/plusbasic
	url = https://github.com/RevCurtisP/AquariusPlus
[submodule "System/esp32"]
	path = System/esp32
	url = https://github.com/aquarius-plus/aquarius-plus-esp32.git
[submodule "System/emulator"]
	path = System/emulator
	url = https://github.com/aquarius-plus/aquarius-plus-emulator.git
[submodule "System/fpga_cores"]
	path = System/fpga_cores
	url = https://github.com/aquarius-plus/aquarius-plus-fpga-cores.git
[submodule "System/pcb"]
	path = System/pcb
	url = https://github.com/aquarius-plus/aquarius-plus-pcb.git
[submodule "SDK"]
	path = SDK
	url = https://github.com/aquarius-plus/aquarius-plus-sdk.git
[submodule "EndUser/sdcard"]
	path = EndUser/sdcard
	url = https://github.com/aquarius-plus/aquarius-plus-sdcard.git
[submodule "System/docs/wiki"]
	path = System/docs/wiki
	url = https://github.com/fvdhoef/aquarius-plus.wiki.git
