[submodule "System/rom_src/plusbasic"]
	path = System/rom_src/plusbasic
	url = https://github.com/RevCurtisP/AquariusPlus
[submodule "System/esp32"]
	path = System/esp32
	url = https://github.com/aquarius-plus/aquarius-plus-esp32.git
[submodule "System/emulator"]
	path = System/emulator
	url = https://github.com/aquarius-plus/aquarius-plus-emulator.git
[submodule "System/fpga_cores"]
	path = System/fpga_cores
	url = https://github.com/aquarius-plus/aquarius-plus-fpga-cores.git
[submodule "System/pcb"]
	path = System/pcb
	url = https://github.com/aquarius-plus/aquarius-plus-pcb.git
