.DS_Store
*.lnk
SDK/projects/game_galaxian/.vscode/c_cpp_properties.json
EndUser/sdcard/autoexec
desktop.ini
/System/emulator/.vs
*.lck
/System/pcb/mega/rev0/aqp_mega-backups
/System/pcb/mega/rev0/aqp_mega-backups
/System/pcb/mega/rev0/aqp_mega-backups
/System/pcb/mega/rev0/aqp_mega-backups
/System/pcb/mega/rev0/aqp_mega-backups
/System/pcb/moda/rev0/aqp_moda_main-backups
/System/pcb/moda/rev0/aqp_moda_main-backups
/System/pcb/moda/rev0/aqp_moda_Z80-backups
